.logo-suricata {
    width: 100px;
}
 
.navbar {
    background-color: #e83e8c;
  
}

h1 {;
    color: #707070;
}

.card {
    width: 18rem;
}
.payment {
    background-color: #17a2b8;
    
}

footer{
    background-color: #e83e8c  
}

.logo-footer {
    width: 2.5rem;
      
}



